<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{  url_for('index') }}">E-Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Consultation <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('firstAid') }}">First Aid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor') }}">Talk 2 Doctor!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us!</a>
                </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <a class="menu-li" href="{{ url_for('cpr_1') }}"> CPR </a><br/>
                     <a class="menu-li active" href="{{ url_for('bleeding_1') }}"> Bleeding </a>
                </div>
                <div class="col-md-10 card info-bubble">
                    <h3>Bleeding</h3>
                    <p>Bleeding refers to the loss of blood from blood vessels anywhere in the body. If someone has been wounded and is bleeding, it is important to work quickly to control blood loss. In most cases, you should be able to keep the bleeding under control without much difficulty. In more severe cases, however, uncontrolled or severe bleeding can contribute to shock, circulatory disruption, or more serious health consequences. In some cases, uncontrolled bleeding may cause damage to tissues and major organs, which can lead to death. Assess the source and seriousness of the bleeding, and take appropriate first aid measures. For severe or uncontrolled bleeding, seek medical attention immediately.</p>
                    <div class="navigate-btn">
                        <a class='btn btn-primary submit_btn' href="{{ url_for('bleeding_2') }}" style="float: right;">Next</a>
                    </div>
                </div>
            </div>
        </div>


            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>