<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{  url_for('index') }}">E-Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Consultation <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('firstAid') }}">First Aid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor') }}">Talk 2 Doctor!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us!</a>
                </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <a class="menu-li" href="{{ url_for('cpr_1') }}"> CPR </a><br/>
                    <a class="menu-li" href="{{ url_for('terms') }}"> Stroke.</a><br/>
                    <a class="menu-li" href="{{ url_for('login') }}"> Convulsion</a><br/>
                    <a class="menu-li" href="{{ url_for('symptome1') }}"> Fracture </a><br/>
                     <a class="menu-li" href="{{ url_for('bleeding_1') }}"> Bleeding </a>
                </div>
                <img>
                <div class="col-md-10 card info-bubble">
                    <h6>Bleeding</h6>
                    <img src="/static/images/img5.jpg" ><br/>
                    <p> Dab on Listerine. Originally created as an aftershave, regular Listerine can disinfect your cut and help stop blood flow. Pour some directly over the cut or dip a cotton ball into the Listerine and dab it on. You should notice a decrease in blood flow after a minute or 2.</p>
                    <div class="navigate-btn">
                        <a class='btn btn-default' href="{{ url_for('bleeding_4') }}" style="float: left;">&larr; Previous</a>
                        <a class='btn btn-primary submit_btn' href="{{ url_for('bleeding_6') }}" style="float: right;">Next</a>
                    </div>
                </div>
            </div>
        </div>


            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>