<html>
    <head>
        <title>E-Health</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="col-md-5 centralize">
            <h3>Terms of Service</h3>
            Before using the checkup, please read Terms of Service. Remember that:

            <ul>
                <li><b>Checkup is not a diagnosis</b>. Checkup is for informational purposes and is not qualified medical opinion.
                </li>
                <li><b>Do not use in emergencies</b>. In case of health emergency, call your local emergency number  immediately.</li>
                <li><b>Your data is safe</b>. Information that you provide is anonymous and not shared with anyone</li>
            </ul>
            <div class="navigate-btn">
                <a class='btn btn-default' href="{{ url_for('terms') }}" style="float: left;">&larr; Previous</a>
                <a class='btn btn-primary submit_btn' href="{{ url_for('login') }}" style="float: right;">Next</a>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>