<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=
    </head>
    <body>
        <div class="col-md-5 centralize">
            <h1>Welcome {{ user }}.</h1>
            <!-- <p><a href="{{ url_for('index') }}">Continue</a></p> -->
            <p>please fill in the following informations</p>

            <form class="form-group" action="{{ url_for('qn2') }}" method=post>

                <p>I'm overweight or obese</p>
                <div class="radio">
                    <label> <input type="radio" name="optionsWeight" value="Dizzy"> Yes </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsWeight" value="Tired"> No </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsWeight" value="Anxious"> Don't Know </label>
                </div>


                <p>I smoke cigarettes</p>
                <div class="radio">
                    <label> <input type="radio" name="optionsCigarettes" value="Dizzy"> Yes </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsCigarettes" value="Tired"> No </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsCigarettes" value="Anxious"> Don't Know </label>
                </div>


                <p>I have high cholesterol</p>
                <div class="radio">
                    <label> <input type="radio" name="optionsCholesterol" value="Dizzy"> Yes </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsCholesterol" value="Tired"> No </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsCholesterol" value="Anxious"> Don't Know </label>
                </div>

                <p>I have hypertension</p>
                <div class="radio">
                    <label> <input type="radio" name="optionsHypertension" value="Dizzy"> Yes </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsHypertension" value="Tired"> No </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsHypertension" value="Anxious"> Don't Know </label>
                </div>

                <p>I have diabetes</p>
                <div class="radio">
                    <label> <input type="radio" name="optionsDiabetes" value="Dizzy"> Yes </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsDiabetes" value="Tired"> No </label>
                </div>
                <div class="radio">
                    <label> <input type="radio" name="optionsDiabetes" value="Anxious"> Don't Know </label>
                </div><br/><br/>
                <div class="navigate-btn">
                    <a class='btn btn-default' href="{{ url_for('login') }}" style="float: left;">&larr; Previous</a>
                    <button class='btn btn-primary' type="submit" class="submit_btn" style="float: right;"> Next </button>
                </div>
            </form>





            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>