<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<div class=
    </head>
    <body>
        <div class="col-md-5 centralize">
            <h1>You feel {{ feeling }}.</h1>
            <!-- <p><a href="{{ url_for('index') }}">Continue</a></p> -->
            <p>Do you have the following symptomes?</p>

            <form class="form-group" action="{{ url_for('qn2') }}" method=post>
                <div class="checkbox">
                    <label><input type="checkbox" name="option1">Illusion of surroundings being bigger or smaller than they actually are</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" name="option2">Feeling weak and tired</label>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" name="option3">Feeling sick</label>
                </div>

                <div class="navigate-btn">
                    <a class='btn btn-default' href="{{ url_for('submission') }}" style="float: left;">&larr; Previous</a>
                    <button class='btn btn-primary' type="submit" class="submit_btn" style="float: right;"> Next </button>
                </div>
            </form>
 

            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>