<html>
    <head>
        <title>E-Health</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="col-md-5 centralize">
            <h1> E-Health </h1>
            <h5>Hello!</h5>
            <p>You're about to use a short(3 min), safe and anonymous health checkup. Your answers will be carefuly analyzed and you'll learn about possible causes of your symptomes.</p>
            <small>
                <i>A <b>medical test</b> is a medical procedure performed to detect, diagnose, or monitor diseases, disease processes, susceptibility, or to determine a course of treatment. Medical tests relate to clinical chemistry  and molecular diagnostics, and are typically performed in a medical laboratory.</i>
            </small>
            </form>
            <br/><br/>
            <p><a href="{{ url_for('terms') }}"> Do a Consultation</a></p>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- Live chat module -->
        <script src="//code.tidio.co/kjxntziiixyv6jor17mhg64fcfjyhrkf.js"></script>
    </body>
</html>