<html>
    <head>
        <title>E-Health - Login</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

       <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{  url_for('index') }}">E-Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Consultation <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('firstAid') }}">First Aid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor') }}">Talk 2 Doctor!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us!</a>
                </li>
                </ul>
            </div>
        </nav>
        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                   <a class="menu-li" href="{{  url_for('index') }}"> Introduction </a><br/>
                    <a class="menu-li" href="{{  url_for('terms') }}"> Terms & Cond...</a><br/>
                    <a class="menu-li active    " href="{{  url_for('login') }}"> Login</a><br/>
                    <a class="menu-li" href="{{  url_for('symptome1') }}"> Symptomes </a><br/>
                    <a class="menu-li" href="{{  url_for('results') }}"> Results </a>
                </div>
                <div class="col-md-10 card info-bubble">
                <form role="form" action="{{ url_for('symptome1') }}" method=post>
                    {% if session.user %}
                    You are Logged In as {{ session['user'] }}
                    <br/><br/><br/>

                        <a class='btn btn-default' href="{{ url_for('logout') }}" style="float: left;">Logout</a>
                        <a class='btn btn-primary' href="{{ url_for('symptome1') }}" style="float: right;">Next</a>

                    {% else %}
                        <div class="row">
                            <label for="name">How may I call you?</label>
                            <input type="text" name="user" placeholder="username" class="form-control" required>
                        </div><br/>
                        <div class="row">
                            <select name="gender" class="col-md-6 form-control custom-select">
                              <option selected>Male</option>
                              <option>Female</option>
                              <option>Other</option>
                            </select>
                            <div class="col-md-2"></div>
                            <input class="col-md-4" name="age" placeholder="age" required>
                        </div>
                              <br/>

                        <button type="submit" class="btn btn-primary submit_btn">Confirm</button>
                {% endif %}
                </form>
                <br/><br/>

            </div>
        </div>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>