<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
       <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{  url_for('index') }}">E-Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Consultation <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('firstAid') }}">First Aid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor') }}">Talk 2 Doctor!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us!</a>
                </li>
                </ul>
            </div>
        </nav>


        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <a class="menu-li" href="{{  url_for('index') }}"> Introduction </a><br/>
                    <a class="menu-li" href="{{  url_for('terms') }}"> Terms & Cond...</a><br/>
                    <a class="menu-li" href="{{  url_for('login') }}"> Login</a><br/>
                    <a class="menu-li active" href="{{  url_for('symptome1') }}"> Symptomes </a><br/>
                    <a class="menu-li" href="{{  url_for('results') }}"> Results </a>
                </div>
                <div class="col-md-10 card info-bubble">
                    <h1>Welcome {{ user }}.</h1>
                    <p> Do you have any of these conditions</p>
                    <form class="form-group" action="{{ url_for('symptome2') }}" method=post>

                        <hr/>
                            I'm overweight or obese
                        <div class="form-group" style="float: right">
                            <input type="radio" name="optionsWeight" value="Yes"> Yes
                            <input type="radio" name="optionsWeight" value="No"> No
                            <input type="radio" name="optionsWeight" value="Maybe"> Don't Know
                        </div>
                        <hr/>
                            I smoke cigarettes
                        <div class="form-group" style="float: right">
                            <input type="radio" name="optionsCigarettes" value="Yes"> Yes
                            <input type="radio" name="optionsCigarettes" value="No"> No
                            <input type="radio" name="optionsCigarettes" value="Maybe"> Don't Know
                        </div>
                        <hr/>
                            I have high cholesterol
                        <div class="form-group" style="float: right">
                            <input type="radio" name="optionsCholesterol" value="Yes"> Yes
                            <input type="radio" name="optionsCholesterol" value="No"> No
                            <input type="radio" name="optionsCholesterol" value="Maybe"> Don't Know
                        </div>
                        <hr/>
                            I have hypertension
                        <div class="form-group" style="float: right">
                            <input type="radio" name="optionsHypertension" value="Yes"> Yes
                            <input type="radio" name="optionsHypertension" value="No"> No
                            <input type="radio" name="optionsHypertension" value="Maybe"> Don't Know
                        </div>
                        <hr/>
                            I have diabetes
                        <div class="form-group" style="float: right">
                            <input type="radio" name="optionsDiabetes" value="Yes"> Yes
                            <input type="radio" name="optionsDiabetes" value="No"> No
                            <input type="radio" name="optionsDiabetes" value="Maybe"> Don't Know
                        </div>

                        <div class="navigate-btn">
                            <a class='btn btn-default' href="{{ url_for('login') }}" style="float: left;">&larr; Previous</a>
                            <button class='btn btn-primary' type="submit" class="submit_btn" style="float: right;"> Next </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>





            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>