<html>
    <head>
        <title>E-Health - Symptomes</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-light bg-primary">
          <a class="navbar-brand" href="#">
            E-Health
          </a>
        </nav>
        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <a href="{{ url_for('index') }}"> Introduction </a>
                    <a href="{{ url_for('terms') }}"> Terms & Cond...</a>
                    <a href="{{ url_for('login') }}"> Login</a>
                    <a href="{{ url_for('symptome1') }}"> Symptomes </a>
                </div> 
                <div class="col-md-10 card info-bubble">
                    <p>Have you recently had any trauma or physical injury - for example and accident?</p>

                    <form class="form-group" action="{{ url_for('symptome6') }}" method=post>

                        <input type="radio" name="optionsWeight" value="Dizzy"> Yes
                        <br/><input type="radio" name="optionsWeight" value="Tired"> No
                        <br/><input type="radio" name="optionsWeight" value="Anxious"> I don't know

                        <div class="navigate-btn">
                            <a class='btn btn-default' href="{{ url_for('symptome4') }}" style="float: left;">&larr; Previous</a>
                            <button class='btn btn-primary' type="submit" class="submit_btn" style="float: right;"> Next </button>
                        </div>
                    </form>
                </div> 
            </div> 
        </div>
 

            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>