<html>
    <head>
        <title>E-Health - Bleeding</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand" href="{{  url_for('index') }}">E-Health</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Consultation <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('firstAid') }}">First Aid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor') }}">Talk 2 Doctor!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About Us!</a>
                </li>
                </ul>
            </div>
        </nav>
        <!-- end of navbar -->
        <br/><br/><br/>
        <div class="container col-md-8">
            <div class="row">
                <div class="col-md-2">
                    <a class="menu-li active" href="{{ url_for('cpr_1') }}"> CPR </a><br/>
                     <a class="menu-li" href="{{ url_for('bleeding_1') }}"> Bleeding </a>
                </div>
                <img>
                <div class="col-md-10 card info-bubble">
                    <h6>End</h6>
                    <p> Thanks, you have completed your training</p>
                </div>
            </div>
        </div>


            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </body>
</html>